.container {
  overflow-y: auto;
}

.section {
  margin-bottom: 32px;
}

.title {
  font-size: 24px;
}

.text {
  font-size: 16px;
}

.link {
  text-decoration: underline;
}

.skillContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 4px;
}

.pill {
  background-color: #1a2f3d;
  border-radius: 20px;
  padding: 5px 10px;
}
