.container {
  margin-top: 180px;
}

.subtitle {
  font-weight: 500;
}

.btnContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.btnMain {
  background-color: #f5f5f5;
  border-radius: 100px;
  padding: 10px 20px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

.btnSecondary {
  border: 1px solid #f5f5f5;
  border-radius: 100px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 120px;
  }
}

@media screen and (max-width: 425px) {
  .btnContainer {
    flex-direction: column;
  }
}
