.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.navItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
